.App {
  text-align: center;
}

.Body{
  margin-top: 2rem;
}

.Details{
  margin-left: 3rem !important;
  margin-right: 2rem !important;
  margin-top: 2rem !important;
  text-align: left !important;
}


.btn-ingreso{
display: flex !important;
justify-content: center !important;
align-items: center !important;
}

.btn-group{
align-items: center !important;
justify-content: center !important;
}


.btn-ingreso .btn-group .btn2 {
/* width: 16rem !important; */
color: #a0bbd3 !important;
border: 2px solid #a0bbd3 !important;
border-radius: 5px !important;
background-color: white !important;
margin: 4px !important;
text-align: center !important;
}

.btn-ingreso .btn-group .btn2:hover {
color: white !important;
background-color: #a6c3ce !important;
border: 2px solid  #a6c3ce !important;
}


/* Mobile 
@media only screen and (max-width: 767px) {
  [class*="btn2"] {
    width: 8rem !important;
    margin: 2px !important;
  }
}

/* ipad
@media (min-width: 768px) and (max-width: 1200px) {
  [class*="btn2"] {
    width: 8rem !important;
    margin: 2px !important;
  }
} */ 