.displayGroup{
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  } 

.img_style{
  width: 100%;
}



.BtnBag{
margin-Bottom: 10% !important;
}


/* Mobile */
@media only screen and (max-width: 767px) {
  [class*="displayGroup"] {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}

/* ipad */
@media (min-width: 768px) and (max-width: 1200px) {
  [class*="displayGroup"] {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}