/* .ItemCard {
  display: flex;
  justify-content: center;
  margin: 20px;
  text-Align: "center";
  font-Size: 20px;
  padding: 5px; 
}
 */


.displayGroup{
margin-left: 2rem !important;
margin-right: 2rem;
} 

.img_style{
  width: 100%;
}


/* Mobile 
@media only screen and (max-width: 767px) {
  [class*="displayGroup"] {
    display: flex !important;
  }
}*/

.BtnBag{
margin-Bottom: 10% !important;
}